h1 {
    text-align: center;
    font-size: xx-large;
    background-color: bisque;
    border-radius: 5px; 
}

h5 {
    text-align: center;
}

p {
    color: teal;
}

h2 {
    font-style: italic;
}

.image-nature {
    height: 300px;
    width: 300px;
    padding: 20px;
    margin: 1px black ;
}

.about-me {
  text-align: center;
}

.skills-column {
  margin-left: 100px;
}
